@charset "UTF-8";
.registeredWrap {
  background-color: #f2f2f2;
  padding-top: 7.2vmax;
  padding-bottom: 7.8vmax;
}

.registeredWrap .down-arrow {
  display: inline-block;
  position: relative;
  width: 4.3vmin;
  height: 4.3vmin;
}

.registeredWrap .down-arrow::after {
  display: inline-block;
  content: " ";
  height: 2.7vmin;
  width: 2.7vmin;
  border-width: 0 0.5vmin 0.5vmin 0;
  border-color: #666666;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
          transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  margin-top: -1.5vmax;
}

.registeredWrap .grayLineWrap {
  margin: 0 5.87vmin;
}

.registeredWrap .grayLine {
  width: 100%;
  height: 0.15vmax;
  background-color: #f2f2f2;
}

.registeredWrap .topregisteredWrap {
  width: 91.73vmin;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
  color: #666666;
  margin: 2.4vmax auto 1.5vmax;
  padding-top: 4.2vmax;
  padding-bottom: 3vmax;
}

.registeredWrap .topregisteredWrap .memberSelect {
  position: relative;
  margin-left: 5.87vmin;
  width: 56vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registeredWrap .topregisteredWrap .memberSelect p {
  width: 40vmin;
}

.registeredWrap .topregisteredWrap .memberSelect .UCoption {
  position: absolute;
  width: 56vmin;
  background: #f2f2f2;
  border-radius: 0.75vmax;
  padding-top: 0.75vmax;
}

.registeredWrap .topregisteredWrap .memberSelect .UCoption li {
  margin-left: 2.67vmin;
  margin-bottom: 3vmax;
}

.registeredWrap .topregisteredWrap .accountCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5.87vmin;
  margin-bottom: 1.05vmax;
}

.registeredWrap .topregisteredWrap .accountEnter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4.2vmax 0 1.05vmax 5.87vmin;
}

.registeredWrap .topregisteredWrap .accountEnter input {
  margin-left: 5.87vmin;
  border: none;
}

.registeredWrap .topregisteredWrap .pwdEnter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4.2vmax 0 1.05vmax 5.87vmin;
}

.registeredWrap .topregisteredWrap .pwdEnter input {
  margin-left: 5.87vmin;
  border: none;
}

.registeredWrap .topregisteredWrap .certainPwd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4.2vmax 0 1.05vmax 5.87vmin;
}

.registeredWrap .topregisteredWrap .certainPwd input {
  margin-left: 5.87vmin;
  border: none;
}

.registeredWrap .bonusGroup {
  width: 91.73vmin;
  background: #ffffff;
  border-radius: 1.33vmin;
  margin: 2.4vmax auto 0;
  padding-bottom: 7.8vmax;
}

.registeredWrap .bonusGroup .bonusWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.35vmax 2.67vmin 1.2vmax;
}

.registeredWrap .bonusGroup .bonusWrap .platform {
  width: 30.4vmin;
}

.registeredWrap .bonusGroup .bonusWrap .currently {
  width: 30.67vmin;
  text-align: center;
}

.registeredWrap .bonusGroup .bonusWrap .limit {
  width: 30.4vmin;
  text-align: right;
}

.registeredWrap .antiWater {
  width: 91.73vmin;
  background: #ffffff;
  border-radius: 1.33vmin;
  margin: 2.4vmax auto 0;
}

.registeredWrap .antiWater .bonusWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.35vmax 2.67vmin 1.2vmax;
}

.registeredWrap .antiWater .platform {
  width: 30.4vmin;
}

.registeredWrap .antiWater .currently, .registeredWrap .antiWater .adjustment {
  width: 15.335vmin;
  text-align: center;
}

.registeredWrap .antiWater .bonusSetWrap .progressBarWrap input[type="range"] {
  width: 60.33vmin;
}

.registeredWrap .antiWater .waterZipper {
  background-image: -webkit-linear-gradient(left, #80c269 0%, #80c269 0%, #c2c2c2 0%, #c2c2c2 100%);
}

.registeredWrap .adjustmentButtonWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.registeredWrap .adjustmentButtonWrap .adjustmentButton {
  border: none;
  width: 32vmin;
  height: 4.5vmax;
  border-radius: 15px;
  color: #ffffff;
  margin: 6vmax auto;
  -webkit-box-shadow: 0 0.53vmin 0.53vmin 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.53vmin 0.53vmin 0 rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1929c), to(#e35e74));
  background-image: linear-gradient(to bottom, #f1929c, #e35e74);
}

.registeredWrap .bonusSetWrap {
  width: 91.73vmin;
  background: #ffffff;
  margin: 0 auto;
  padding-bottom: 1.5vmax;
  border-radius: 0.75vmax;
}

.registeredWrap .bonusSetWrap .bonusTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2.67vmin;
}

.registeredWrap .bonusSetWrap .setup-select {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registeredWrap .bonusSetWrap .iphone-checkbox {
  position: relative;
}

.registeredWrap .bonusSetWrap input[type="checkbox"].advanced_switch {
  position: absolute;
  margin: 8px 0 0 16px;
  display: none;
}

.registeredWrap .bonusSetWrap input[type="checkbox"].advanced_switch + label {
  position: relative;
  padding: 5px 0 0 50px;
  line-height: 2em;
}

.registeredWrap .bonusSetWrap input[type="checkbox"].advanced_switch + label:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 3px;
  width: 60px;
  /* x*5 */
  height: 24px;
  /* x*3 */
  border-radius: 16px;
  /* x*2 */
  background: #fff;
  /*border: 1px solid #d9d9d9;*/
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#6d6d6d));
  background-image: linear-gradient(to bottom, #cecece, #6d6d6d);
  -webkit-box-shadow: inset 0px 1px 2px 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.registeredWrap .bonusSetWrap input[type="checkbox"].advanced_switch + label:after {
  content: "";
  position: absolute;
  display: block;
  left: 2px;
  top: 5px;
  width: 18px;
  /* x*3 */
  height: 18px;
  /* x*3 */
  border-radius: 16px;
  /* x*2 */
  background: #fff;
  border: 1px solid #d9d9d9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.registeredWrap .bonusSetWrap input[type="checkbox"].advanced_switch + label:hover:after {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.registeredWrap .bonusSetWrap input[type="checkbox"].advanced_switch:checked + label:after {
  margin-left: 36px;
}

.registeredWrap .bonusSetWrap input[type="checkbox"].advanced_switch:checked + label:before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#98dea4), to(#62a76e));
  background-image: linear-gradient(to bottom, #98dea4, #62a76e);
}

.registeredWrap .bonusSetWrap .gameAdjustmentTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.95vmax 2.67vmin 1.5vmax;
  font-size: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registeredWrap .bonusSetWrap .progressBarWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.05vmax;
}

.registeredWrap .bonusSetWrap .progressBarWrap input[type="range"] {
  -webkit-appearance: none;
  width: 45.33vmin;
  height: 1.2vmax;
  border-radius: 10px;
  /*这个属性设置使填充进度条时的图形为圆角*/
  margin-left: 2.67vmin;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.registeredWrap .bonusSetWrap .progressBarWrap input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 5.87vmin;
  height: 3.3vmax;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#c9c9c9));
  background-image: linear-gradient(to bottom, #fcfcfc, #c9c9c9);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.registeredWrap .bonusSetWrap .progressBarWrap .zipper {
  background-image: -webkit-linear-gradient(left, #80c269 0%, #80c269 0%, #c2c2c2 0%, #c2c2c2 100%);
}

.registeredWrap .bonusSetWrap .progressBarWrap .lessWrap,
.registeredWrap .bonusSetWrap .progressBarWrap .addWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registeredWrap .bonusSetWrap .progressBarWrap .less,
.registeredWrap .bonusSetWrap .progressBarWrap .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5.33vmin;
  height: 3vmax;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5.33vmin;
  color: #ffffff;
  background-color: #556fb5;
  border-radius: 50%;
  margin-left: 2.67vmin;
}

.registeredWrap .bonusSetWrap .progressBarWrap .lessNum,
.registeredWrap .bonusSetWrap .progressBarWrap .addNum {
  margin-left: 2.67vmin;
}

.registeredWrap .bonusSetWrap .progressBarWrap .progressBar {
  position: relative;
  top: 0.5vmax;
  width: 45.33vmin;
  height: 1.2vmax;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #80c269 0%, #80c269 0%, #c2c2c2 0%, #c2c2c2 100%);
  margin-left: 2.67vmin;
}

.registeredWrap .bonusSetWrap .progressBarWrap .smallCircle {
  width: 5.87vmin;
  height: 3.3vmax;
  border-radius: 50%;
  position: absolute;
  top: -1vmax;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#c9c9c9));
  background-image: linear-gradient(to bottom, #fcfcfc, #c9c9c9);
}

.registeredWrap .bonusSetWrap .progressBarWrap .smallCircle:before {
  background-color: #80c269;
}

.registeredWrap .bonusSetWrap .submitBtn {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.registeredWrap .bonusSetWrap .submitBtn p {
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  margin: 6vmax auto;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1929c), to(#e35e74));
  background-image: linear-gradient(to bottom, #f1929c, #e35e74);
}
/*# sourceMappingURL=registered.css.map */