.wrapper{
    padding: 0;
    height: 85vmax;
    background-color: #ffffff;
    /* padding-top: 7.2vmax; */
    padding-bottom: 7.8vmax;
    display: flex;
    flex-flow: column;
    color: #666666;
    font-size: 3.7vmin;
    font-family:"Microsoft JhengHei","Heiti TC",sans-serif;
  }
  
  .panel-wrap {
    position: fixed;
    top: 7.2vmax;
    left: calc((100% - 100.3vmin) / 2);
    z-index: 8;
  }
  /* 字体颜色 */
  .white {
    color: #fff;
  }
  .orange {
    color: #f57e2f;
  }
  
  
  /* gamebox_*/
  .gameBox_6 {
  width: 39.4vmin;
  height: 15.47vmin;
  background-color: #f2f2f2;
  margin: 1vmin 2vmin 2vmin 2vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
  border-radius: 1.2vmin;
  }
  .gameBox_6:nth-of-type(2n){
    margin-left:1vmin;
  }
  
  .playActive.gameBox_6 .gameBoxWrap span {
    color: #fff;
  }
  .gameBox_6 .gameBoxWrap {
    display: flex;
    align-items: flex-start;
  }
  .gameBox_6 .gameBoxWrap span {
    font-weight: bold;
    font-size: 4.3vmin;
    margin: 0.7vmin 0;
    text-align: center;
    padding-left: 1.33vmin;
  }
  .gameBoxWrap span.idName {
    font-size:4.27vmin;
    width: 40px;
  }
  .idName + span{
    color: #feb433;
    font-size: 3.73vmin;
    align-self: center;
    width: 14.67vmin;
  }

  .playContent{
      display: flex;
      justify-content: center;
    }
  .playActive {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    background-color: #feb433;
    border-radius: 1.3vmin;
    color: #fff !important;
  }
  .gameBox .gameBoxWrap span:nth-of-type(1) {
    margin-bottom: 8px;
  }
  
  .contentWrap {
    padding: 32.7vmax 2.7vmin 2.7vmin 2.7vmin;
    background-color: #fff;
    margin: 0 4.3vmin;
    min-height: 21.29vmax;
    width: 87vmin;
    border-radius: 5px;
    align-self: center;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  
  .game {
    padding: 2.7vmax 2.7vmin 0vmin 2.7vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contentWrap h2 {
    font-weight: bold;
    align-self: center;
  }
  .contentWrap .gameTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5vmax 0.7vmin;
    height: 3.1vmax;
  }
  .contentWrap .gameTitle span:nth-of-type(2) {
    color: #ff2a2a;
  }
  .contentWrap .gameTitle span:nth-of-type(1) {
    font-weight: bold;
  }
  .gameContent {
    display: flex;
    justify-content:start;
    
  }
  /* 时时彩超过10个号码用 */
  .gameContent2 {
    display: flex;
    justify-content:start;
  }
  .gamePlayName {
    align-self: center;
  }
  .gameBackground {
    background-color: #f2f2f2;
    padding-bottom: 26.79vmax;
    display: flex;
    justify-content: center;
  }
  
  .contentW {
    padding-top: 32.7vmax;
    background-color: #fff;
    margin: 0 4.3vmin;
    min-height: 21.29vmax;
    width: 91.4vmin;
    border-radius: 5px;
    align-self: center;
    padding-bottom: 15px;
  }
  .contentW h2 {
    font-weight: bold;
    align-self: center;
  }
  .contentW .gameTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5vmax 0.7vmin;
    height: 3.1vmax;
  }
  .contentW .gameTitle span:nth-of-type(2) {
    color: #ff2a2a;
  }
  .contentW .gameTitle span:nth-of-type(1) {
    font-weight: bold;
  }
   .gameContent, .gameContent2{
    flex-flow:wrap;
  }
