.wrapper {
    padding: 0;
    height: 85vmax;
    background-color: #ffffff;
    padding-bottom: 7.8vmax;
    display: flex;
    flex-flow: column;
    color: #666666;
    font-size: 3.7vmin;
    font-family:"Microsoft JhengHei","Heiti TC",sans-serif;
  }
 
  .panel-wrap {
    position: fixed;
    top: 7.2vmax;
    left: calc((100% - 100.3vmin) / 2);
    z-index: 8;
  }
  /* 字体颜色 */
  .white {
    color: #fff;
  }
  .orange {
    color: #f57e2f;
  }
  .gamePlayName {
    align-self: center;
  }
  .gameBackground {
    background-color: #f2f2f2;
    padding-bottom: 19.79vmax;
    display: flex;
    justify-content: center;
  }
  .gameContent {
    display: flex;
    justify-content: flex-start;
    margin: 0 3vmin;
    flex-flow:wrap;
  }

  .gameBox_6 {
    width: 11.7vmin;
    height:11.7vmin;
    background-color: #f2f2f2;
    margin: 1vmin 0.8vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666666;
    border-radius: 1.2vmin;
  }
  .playActive .gameBox_6 .gameBoxWrap span:nth-of-type(1) {
    color: #fff;
  }
  .gameBox_6 .gameBoxWrap {
    display: flex;
    align-items: center;
  }
  .gameBox_6 .gameBoxWrap span {
    font-weight: bold;
    font-size: 4.3vmin;
    margin: 1.1vmin 0;
    text-align: center;
  }
  


  .contentW {
    padding-top: 32.7vmax;
    background-color: #fff;
    margin: 0 4.3vmin;
    min-height: 21.29vmax;
    width: 91.4vmin;
    border-radius: 5px;
    align-self: center;
    padding-bottom: 15px;
  }
  .contentW h2 {
    font-weight: bold;
    align-self: center;
  }
  .contentW .gameTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5vmax 0.7vmin;
    height: 3.1vmax;
  }
  .contentW .gameTitle span:nth-of-type(2) {
    color: #ff2a2a;
  }
  .contentW .gameTitle span:nth-of-type(1) {
    font-weight: bold;
  }

  .game {
    padding: 0vmax 2.7vmin 0vmin 2.7vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contentWrap h2 {
    font-weight: bold;
    align-self: center;
  }
  .contentWrap .gameTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5vmax 0.7vmin;
    height: 3.1vmax;
  }
  .contentWrap .gameTitle span:nth-of-type(2) {
    color: #ff2a2a;
  }
  .contentWrap .gameTitle span:nth-of-type(1) {
    font-weight: bold;
  }
  .playActive {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    background-color: #feb433;
    border-radius: 1.3vmin;
    color: #fff !important;
  }
 
