<div>
    <div class="row" v-if="$route.name == 'hk6'">
        <div class="content1">
            <div class="date">2019018</div>
            <div class="ballnumber">
                <ul>
                    <li class="redback">
                        <span>46</span>
                    </li>
                    <li class="greenback">
                        <span>43</span>
                    </li>
                    <li class="redback">
                        <span>05</span>
                    </li>
                    <li class="greenback">
                        <span>08</span>
                    </li>
                    <li class="redback">
                        <span>20</span>
                    </li>
                    <li class="blueback">
                        <span>16</span>
                    </li>
                    <li class="noneback">
                        <span>+</span>
                    </li>
                    <li class="greenback">
                        <span>11</span>
                    </li>
                </ul>
                <ul>
                    <li class="greenback"><span>鼠</span></li>
                    <li class="redback"><span>牛</span></li>
                    <li class="greenback"><span>虎</span></li>
                    <li class="redback"><span>兔</span></li>
                    <li class="greenback"><span>龙</span></li>
                    <li class="blueback"><span>蛇</span></li>
                    <li class="noneback"><span>+</span></li>
                    <li class="greenback"><span>马</span></li>
                </ul>
            </div>
        </div>
        <div class="content2">
            <div class="date">2019019</div>
            <div class="timeContentWrap">
                <div>
                    <img src="../../../assets/img/icon-time2.png" alt="">
                    <span>封盘</span>
                    <span class="timeContent">29:14:44</span>
                </div>
            </div>
        </div>
    </div>
</div>