.linkManagement {
  min-height: 100vmax;
  background-color: #f2f2f2;
  padding-top: 7.2vmax;
  .copyURL {
    position: absolute;
    top: 0;
    opacity: 0;
  }
  .linkRegistered {
    height: 20px;
    width: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 6;
    right: 2.67vmin;
    top: 1.5vmax;
    p {
      font-size: 5.27vmin;
    }
  }
  .flex{
      display: flex;
  }
  .grayLine {
    width: 100%;
    height: 0.15vmax;
    background-color: #f2f2f2;
  }
  .linkWrap {
    margin: 2.4vmax 4.27vmin 0;
    border-radius: 0.75vmax;
    background-color: #ffffff;
  }
  .userWrap {
    display: flex;
    padding-top: 1.35vmax;
    padding-bottom: 1.35vmax;
    align-items: center;
    .linkName {
        margin-left: 2.67vmin;
        width: 29.33vmin;
        img {
            margin-left: 1.33vmin;
        }
    }
    .category {
        width: 18vmin;
    }
    .status {
        width: 12vmin;
    }
    .operating {
        width: 32vmin;
        .operatingImg {
            margin-right: 2.67vmin;
        }
    }
  }
}
